@import"./base/reset";
@import"./utils/vars";
@import"./base/common";
@import"./utils/hidden";
@import"./utils/mixins";


@import"./components/container";
@import"./components/top-tex";
@import"./components/title";
@import"./components/modal";
@import"./components/logo";


@import"./layout/header";
@import"./layout/hero";
@import"./layout/team";
@import"./layout/client";
@import"./layout/sections-btn";
@import"./layout/projects";
@import"./layout/footer";
@import"./layout/footer-networks";
@import"./layout/footer-service";
@import"./layout/services";