.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.cards__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.cards-title {
    margin-bottom: 50px;
}

.cards__list {
    display: flex;
    flex-wrap: nowrap;
}

.cards-list {
    padding: 0;
    margin: 0;
}

.cards__item {
    width: 170px;
    height: 92px;
}

.cards-item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

}

.cards__link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--accente-color);
    }
}

.cards__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .cards__link:hover &,
    .cards__link:focus & {
        fill: var(--accente-color);
    }
}