.footer-wrapper {
    margin-left: 70px;
}

.footer-networks__title-wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-networks__list {
    display: flex;
}

.footer-networks-list {
    margin-top: 20px;
}

.footer-networks__item {
    width: 44px;
    height: 44px;
}

.footer-networks-item {
    margin-right: 10px;
}

.footer-networks-item:last-child {
    margin-right: 0;
}

.footer-networks__link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: backgrond-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accente-color);
    }
}

.footer-networks__icon {
    fill: var(--main-btn-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .footer-networks__link:hover &,
    .footer-networks__link:focus & {
        fill: var(--main-btn-color);
    }
}