.footer {
    padding: 60px 0;
    background-color: #2f303a;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.footer__address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--main-btn-color);
    }
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__mailto {
    color: var(--footer-link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--footer-link-color);
    }
}

.footer__tel {
    color: var(--footer-link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--footer-link-color);
    }
}