.header {
    display: flex;
    border-bottom: 1px solid #ececec;
}

.header-logo {
    display: flex;
    margin-right: 70px;
    align-items: center;
    color: var(--second-title-color);
}

.header .container {
    display: flex;
}

.sections__header-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--main-btn-color);
}

.sections__header-list {
    display: flex;
}

.header-list {
    margin-left: 90px;

    &:not(:last-child) {
        margin-left: 50px;
    }
}

.header-list .header-item+.header-item {
    margin-left: 50px;
}

.sections__header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    position: relative;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sections__header-link.curent::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accente-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
}

.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact .contact-item+.contact-item {
    margin-left: 30px;
}

.contact__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    &:hover,
    &:focus {
        color: var(--accente-color);
    }

    .contact__icon:hover &,
    .contact__icon:hover & {
        fill: var(--accente-color);
    }
}

.contact__icon {
    fill: currentColor;
    display: inline-block;
    margin-right: 10px;
    justify-content: center;

    &:hover,
    &:focus {
        fill: var(--accente-color);
    }
}