.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero-content {
    display: flex;
}

.section-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.icon-anntena::before {
    background-image: url("../images/antenna.svg");
    margin-bottom: 30px;
}

.icon-clok::before {
    background-image: url("../images/clock.svg");
    margin-bottom: 30px;
}

.icon-vector::before {
    background-image: url("../images/Vector.svg");
    margin-bottom: 30px;
}

.icon-astronaut::before {
    background-image: url("../images/astronaut.svg");
    margin-bottom: 30px;
}

.btn-title {
    display: inline;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

    text-align: center;
    border: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accente-color);
        color: var(--main-btn-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        ;
    }
}

.btn-item:not(:last-child) {
    margin-right: 9px;
}

.order__btn {
    text-align: center;
    padding: 10px 32px;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accente-color);
    color: var(--main-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

.order-title {
    margin-bottom: 30px;
}

.order__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.benefits__list {
    display: flex;
}

.benefits__item {
    width: 270px;

    &::before {
        display: block;
        content: "";
        width: 270px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    .benefits__title & {
        display: flex;
    }
}

.benefits__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
}