.title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.top-title {
    @include font (14px, 500, 1.14, 0.02em);
}

.title--light {
    color: var(--main-title-color);
}

.title--dark {
    color: var(--second-title-color);
}